### Our problem

|ad spending        | t-shirts           
| ------------- |:-------------:| 
|    800        | 330  | 
|    1500        |780 | 
|    2000      | 1130 | 
|    3500      | 1310 | 
|    4000      | 1780 |

In [5]:
ad_spending = [800, 1500, 2000, 3500, 4000]
t_shirts = [330, 780, 1130, 1310, 1780]

* Solving for one observation

In [3]:
ad_spending = 800
t_shirt_sales = 330

In [2]:
impact = 330/800
impact

0.4125

* Solving for multiple observations

|ad spending        | t-shirts           
| ------------- |:-------------:| 
|    800        | 330  | 
|    1500        |780 | 
|    2000      | 1130 | 
|    3500      | 1310 | 
|    4000      | 1780 |

$$800*x = 330 $$
$$1500*x = 780 $$
$$2000*x = 1130 $$

* introducing linear algebra

$ax = b$

In [3]:
a = [800, 1500, 2000, 3500, 4000]
b = [330, 780, 1130, 1310, 1780]

In [ ]:
$/math$