### Cosine Similarity Lab

### Introduction

### Loading our data

Let's begin by loading our data.

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/jigsawlabs-student/linear-algebra/master/2-matrices/1-data-vectors/coconut_water.csv"
df = pd.read_csv(url, index_col = 0)

In [2]:
df[:3]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
47836,47837,B004SRH2B6,AKACGHPVILE9R,"Sophronia ""Euphemia""",1,1,1,1314144000,Switched to O.N.E.,Must admit the taste of O.N.E. coconut water i...
47837,47838,B004SRH2B6,A2GO0AIHB846UX,vinny,1,1,5,1313884800,WOW!!,I love this stuff! Perfect blend of dark choc...
47838,47839,B004SRH2B6,AI1U3M3GW9X2W,Reformed Puritan,1,1,3,1311379200,It was a good deal but not likely to buy again,"I am from the Philippines, a country where the..."

Let's assign documents to equal the Text column.

In [8]:
documents = None

### Defining our function

Now we'll want to use cosine similarity to hopefully find how close a review is to another review.  To start, we'll need to take our reviews and represent them as a vector.  Let's use TF-IDF to do so.

> Initialize TF-IDF vectorizer using stop words from sklearn.

In [131]:


tf = None

> Call `fit_transform` on the documents to translate our text into vectors.

In [133]:
documents_tf = None

In [132]:
documents_tf.toarray()[:2]

# array([[0., 0., 0., ..., 0., 0., 0.],
#        [0., 0., 0., ..., 0., 0., 0.]])

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

### Selecting a document

Let's select our fifth review as our document, and assign it to `vec_1`.

> The is what the text of the fifth document looks like.

In [136]:
vec_1 = None

vec_1

"I've tried several different coconut waters and the ZICO tastes the best to me. Use this in my smoothies daily. I was getting this product in the smaller tetra pak, but after opening the package you couldn't shake it up without spilling it. This works much better and I've taken as long as a week to use the 33.8 size with no degradation in taste."

And let's select the corresponding array.

In [119]:
vec_1 = None
vec_1

array([[0., 0., 0., ..., 0., 0., 0.]])

Now it's time to write a `cosine_similarity` function that returns the cosine of the angle between the two vectors.  If the angle between the two vectors is perpendicular, meaning there are no words in common, then the score will be zero.  If they are precisely the same, the similarity will be 1.

> We can check the cosine similarity of the fifth vector and the first vector.

In [144]:
from numpy.linalg import norm

def cosine_similarity(vec_1, vec_2):
    pass

In [145]:
cosine_similarity(vec_1, documents_tf.toarray()[0])
# 0.09825817619059271

0.09825817619059271

Now that we've calculate the cosine similarity with one document, calculate it with all of in our dataset, this way we can rank of set of reviews by the cosine similarity.

Assign the resulting list to the variable `cos_scores`.

In [122]:
cos_scores = None

In [ ]:
cos_scores
# [0.09825817619059271,
#  0.013203889132930335,
#  0.024819188185239132,
#  0.09746078650484026,
#  1.0000000000000002]

Now let's add these scores to our original pandas dataframe.

In [147]:
ranked_df = None

In [148]:
ranked_df[:2]


# Id	ProductId	UserId	ProfileName	HelpfulnessNumerator	HelpfulnessDenominator	Score	Time	Summary	Text	cos_score
# 47836	47837	B004SRH2B6	AKACGHPVILE9R	Sophronia "Euphemia"	1	1	1	1314144000	Switched to O.N.E.	Must admit the taste of O.N.E. coconut water i...	0.098258
# 47837	47838	B004SRH2B6	A2GO0AIHB846UX	vinny	1	1	5	1313884800	WOW!!	I love this stuff! Perfect blend of dark choc...	0.013204

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,cos_score
47836,47837,B004SRH2B6,AKACGHPVILE9R,"Sophronia ""Euphemia""",1,1,1,1314144000,Switched to O.N.E.,Must admit the taste of O.N.E. coconut water i...,0.098258
47837,47838,B004SRH2B6,A2GO0AIHB846UX,vinny,1,1,5,1313884800,WOW!!,I love this stuff! Perfect blend of dark choc...,0.013204

And from there we can sort our rows by the cosine score.

In [150]:
sorted_df = None

In [152]:
sorted_df.Text[:3]

# 47840    I've tried several different coconut waters an...
# 48255    I've tried many cocunt waters (Vita Coco, O.N....
# 48038    This stuff is amazing.  Somewhat healthy and t...
# Name: Text, dtype: object

47840    I've tried several different coconut waters an...
48255    I've tried many cocunt waters (Vita Coco, O.N....
48038    This stuff is amazing.  Somewhat healthy and t...
Name: Text, dtype: object

The top ranked document is our original document.

In [154]:
sorted_df['cos_score'].iloc[0]

1.0000000000000002

In [155]:
sorted_df['Text'].iloc[0]

"I've tried several different coconut waters and the ZICO tastes the best to me. Use this in my smoothies daily. I was getting this product in the smaller tetra pak, but after opening the package you couldn't shake it up without spilling it. This works much better and I've taken as long as a week to use the 33.8 size with no degradation in taste."

Let's see how our document lines up to some of the other top ranked documents.

In [156]:
sorted_df.iloc[1].Text

"I've tried many cocunt waters (Vita Coco, O.N.E., Goya, etc), and I find this to be the cleanest, most refreshing taste (especially when chilled).  Apparently ZICO uses different combinations of coconuts depending on the size of the packaging.  I can't speak for the other sizes, but the 33.8 oz is delicious!"

In [157]:
sorted_df.iloc[2].Text

'This stuff is amazing.  Somewhat healthy and tastes like a chocolate shake.  Recommend buying if you like coconut.  Shake it up good, though.'

We can begin to see the similarity!  It appears to have worked!

### Summary

In this lesson, we saw how cosine similarity can allow us to compare documents by representing the word importance of different document vectors (through tf-idf), and then calculating the cosine similarity of our sets of documents.  

The formula for cosine similarity is:

$\frac{a^T}{|a|} \cdot \frac{b}{|b|} = cos(\theta)$

And allows us to use the dot product to calculate the cosine of the angle between vectors.